/* =================================== */
/* DESIGN SYSTEM */
/* =================================== */
/*
* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* =================================== */
/* FONTS */
/* =================================== */

@font-face {
  font-family: "";
  src: url();
}

/* =================================== */
/* RESET STYLES */
/* =================================== */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root {

}


/* =================================== */
/* HELPER CLASSES */
/* =================================== */

.container{max-width: 1440px; margin: 0 auto;}


/* =================================== */
/* GENERAL STYLES */
/* =================================== */

html {
/* Percentage of user's browser font-size setting */
/* 10px / 16px * 100% = 62,5% */
font-size: 62.5%;
}

body {
font-family: sans-serif;
line-height: 1;
font-weight: 400;
color: #555;
}

a {
text-decoration: none;
color: #555;
}

/*header, section {margin-bottom: 60px}*/

/* =================================== */
/* COMPONENT STYLES */
/* =================================== */

/* ----------------------*/
/* ------ SECTION HEADER ------ */
/* ----------------------*/


/* ----------------------*/
/* ------ MAIN ------ */
/* ----------------------*/


/* ----------------------*/
/* ------ SECTION FOOTER ------ */
/* ----------------------*/
